<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SpringBoot模版渲染</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/store.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#" th:text="${account}"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/home/user">继续挑选</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">logout</a>
            </li>
        </ul>

    </div>
</nav>

<div class="card">
    <div class="card-body">
        <span>购物清单：</span>
        <button type="button" class="btn btn-primary" style="float: right">立即购买</button>
    </div>
</div>

<table class="table">
    <thead>
    <tr>
        <th scope="col">商品名称</th>
        <th scope="col">价格</th>
        <th scope="col">
            数量
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item:${itemList}">
        <th th:text="${item.item_name}" scope="row"></th>
        <td th:text="${item.unit_price}"></td>
        <td>
            <form>
                <div class="input-group mb-3 input-group-sm" style="width:6%" >
                    <input type="text" class="form-control" placeholder="1">
                </div>
            </form>
        </td>
        <td>
            <button type="button" class="btn btn-primary" style="float: right">删除</button>
        </td>
        <td></td>
    </tr>
    </tbody>
</table>
</body>
</html>